@font-face {
  font-family: "dirtyline";
  src: url("src/font/Dirtyline 36daysoftype 2022.otf");
}
.loadtxt {
  font-family: "dirtyline";
}
#count {
  font-family: "dirtyline";
  -webkit-text-stroke: 1px black;
  color: transparent;
}

#loadtxt2 {
  font-family: "dirtyline";
  -webkit-text-stroke: 3px black;
  color: transparent;
}
